.testimonial-content-wrapper {
    border-radius: 15px; 
    border: solid 2px $pw_purple;
    padding: 30px;
    color: $pw_yellow; 
    &:focus {
        outline: 3px solid $pw_pink;
        outline-offset: 4px;
        border-radius: 8px;
        }
    .testimonial-content-quote {
        strong {
            color: $pw_pink; 
            font-size: 18px; 
        }
    }
    .quote-attribute {
        padding-top: 25px; 
        color: $pw_yellow; 
        font-weight: 600;
        text-align: center;
        font-size: 18px;
    }
}

.reviews-content-container {
    .reviews-content-container-row {
        column-count: 3;
        column-gap: 24px;
        @media(max-width: 992px) {
            column-count: 2;
            column-gap: 24px;
        }
        @media(max-width: 576px) {
            column-count: 1;
            column-gap: 24px;
        }

        .testimonial-col {
            break-inside: avoid;
            margin-bottom: 24px;
        }
    }
}