.wildcard-section {
    .wildcard-container {
        .wildcard-row {
            .wildcard-col {
                padding-bottom: 25px; 
                .wildcard-card {
                    img {
                        padding-bottom: 12px; 
                    }
                    .card-title {
                        width: 70%;
                        margin-bottom: 12px; 
                        h4 {
                            @extend .h5; 
                        }
                    }
                    .card-description {
                        width: 90%; 
                    }
                    &:focus {
                        outline: 3px solid $pw_pink;
                        outline-offset: 6px;
                        border-radius: 12px;
                    }
                }
            }
        }
    }
}