.site-footer {
    border-top: solid 2px $pw_pink; 
    padding-top: 20px; 
    padding-bottom: 20px; 
    .footer-container {
        .back-to-top-row {
            .back-to-top-col {
                img {
                    width: 25px;
                }
            }
             @media (max-width: 992px) {
                padding-bottom: 20px; 
            }
        }


        .footer-content-row {
            .copyright-col {
                @media (max-width: 576px) {
                   order: 4; 
                }
                .small-text {
                    font-size: 14px;
                }
            }

            .logo-col {
                @media (max-width: 992px) {
                    padding-bottom: 20px; 
                }
                img {
                    max-width: 100%;
                    width: 75px; 
                    height: auto; 
                }

            }

            .social-col {
                @media (max-width: 992px) {
                    padding-bottom: 20px; 
                }
                .social-wrapper {
                    @media (max-width: 992px) {
                        a:first-child {
                            margin-right: 15px; 
                        }
                         a:last-child {
                            margin-left: 15px; 
                        }
                            

                    }
                    .social-icon {
                        width: 25px;
                        height: auto; 
                        margin-left: 30px; 
                        @media (max-width: 992px) {
                            margin-left: 0; 

                        }
                    }


                }
            }

        }
     
    }

}
