// assets/scss/main.scss
body {
  font-family: 'Inter', sans-serif;
  background-color: $pw_white; 
  p {
    margin-bottom: 0; 
  }
}

section {
  padding-top: 60px; 
  padding-bottom: 60px; 
   @media (max-width: 768px) {
    padding-top: 30px; 
    padding-bottom: 30px; 
  }
            
  
}

.overlay {
  position: absolute; 
  top: 0; 
  bottom: 0; 
  right: 0; 
  left: 0; 
}

.title-row {
    padding-bottom: 40px; 
    h2 {
        margin-bottom: 15px; 
    }
    p {
        font-size: 18px; 
        font-weight: 600;
        font-style: italic;
    }

}

.alert-bar {
  padding: 3px; 

  background-color: $pw_yellow;  
  p {
    margin-bottom: 0; 
    font-weight: bold;
  }
}

// Example: Custom max-width for Bootstrap containers
.container,
.container-fluid {
  @media (min-width: 1200px) {
    max-width: 1440px; // or whatever width you want
  }

  @media (min-width: 1400px) {
    max-width: 1600px; // optional larger max-width for xxl screens
  }

  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
