// assets/scss/main.scss
body {
  font-family: 'Inter', sans-serif;
  background-color: $pw_white; 
  &:not(.single) {
    p {
      margin-bottom: 0; 
    }
  }
}

section {
  padding-top: 60px; 
  padding-bottom: 60px; 
   @media (max-width: 768px) {
    padding-top: 30px; 
    padding-bottom: 30px; 
  }
            
  
}

.overlay {
  position: absolute; 
  top: 0; 
  bottom: 0; 
  right: 0; 
  left: 0; 
}

.title-row {
    padding-bottom: 40px; 
    h2 {
        margin-bottom: 15px; 
    }
    p {
        font-size: 18px; 
        font-weight: 600;
        font-style: italic;
    }
    .button-wrapper {
      @media(max-width: 920px) {
        margin-top: 30px; 
      }
    }

}

.alert-bar {
  padding: 3px; 

  background-color: $pw_yellow;  
  p {
    margin-bottom: 0; 
    font-weight: bold;
  }
}

strong {
  color: $pw_pink; 
}

p.small-text {
  font-size: 14px; 
}

// Example: Custom max-width for Bootstrap containers
.container,
.container-fluid {
  @media (min-width: 1200px) {
    max-width: 1440px; // or whatever width you want
  }

  @media (min-width: 1400px) {
    max-width: 1600px; // optional larger max-width for xxl screens
  }

  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

body.single h1 { font-size: 2em; }
body.single h2 { font-size: 1.75em; }
body.single h3 { font-size: 1.5em; }
body.single h4 { font-size: 1.25em; }
body.single h5 { font-size: 1em; }
body.single h6 { font-size: 0.875em; }

body.single strong {
  color: $pw_text_color; 
}

body.single a:hover {
  color: $pw_pink; 
}


body.single h2,
body.single h3,
body.single h4,
body.single h5,
body.single h6 {
  margin-bottom: 30px;
}

.wp-block-quote {
  position: relative;
  font-size: 2rem; /* medium text */
  font-style: italic;
  border: solid 2px $pw_purple; 
  margin: 2rem 0;
  padding: 4rem 1.5rem;
  color: #333;
}

.wp-block-quote p {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px; 
  font-size: 20px;
  color: $pw_pink
}

.wp-block-quote::before {
  content: "“";
  position: absolute;
  top: 0px;
  left: 10px;
  font-size: 9rem;
  color: $pw_yellow;
  line-height: 1;
  font-family: serif;
}

.wp-block-quote::after {
  content: "”";
  position: absolute;
  bottom: -65px;
  right: 15px;
  font-size: 9rem;
  color: $pw_yellow;
  line-height: 1;
  font-family: serif;
}

body.single aside {
  li {
    padding-bottom: 10px; 
    a {
      font-size: 17px;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

nav.mobile-toc { 
  ul {
    flex-wrap: wrap;
    align-items: center;
  }
  li {
    border-right: solid 1px $pw_pink; 
    padding-right: 10px; 
    padding-left: 10px; 
    margin-bottom: 10px;
    padding-bottom: 0; 
    a {
      font-size: 17px;
      text-decoration: none;
      font-weight: bold;
    }
    &:last-child {
      border-right: 0; 
    }
  }
}

.ai-text {
  font-size: 13px; 
  text-align: justify;
}

.color-pink {
  color: $pw_pink; 
}

.blog-meta-header {
  border-bottom: dashed 2px $pw_yellow;
}

.post-content {
  text-align: justify;
}