.site-header {
    &.is-sticky {
        .site-header__inner { 
            position: fixed;
            border-bottom: solid 2px $pw_purple; 
            .nav-logo {
                justify-content: space-between;
                img {
                    transition: all 0.25s ease-in-out;
                    height: 70px; 
                }
            }
        }
    }
    .site-header__inner {
        padding-top: 10px; 
        padding-bottom: 10px; 
        border-bottom: dashed 1px $pw_purple; 
        position: relative;
        top: 0;
        z-index: 99999;
        left: 0;
        background-color: $pw_white;
        right: 0;
        nav {
            .nav-list, .nav-list-desktop {
                margin-bottom: 10px; 
                li {
                    list-style: none;
                    a {
                        font-size: 22px; 
                        text-decoration: none;
                         @media (min-width: 768px) and (max-width: 1024px) {
                            font-size: 20px;
                            justify-content: center;
                        }
                    }
                }
            
            }
            .nav-list-desktop {
                justify-content: space-evenly;
            }
            .nav-logo {
                justify-content: space-between;
                img {
                    height: 130px; 
                    transition: all 0.25s ease-in-out;

                }
                

            }
            .mobile-nav {
                display: none; 
                padding-bottom: 15px;
                 @media (max-width: 768px) {
                    display: block; 
                }
                .menu-toggle {
                    background: transparent; 
                    color: $pw_purple; 
                    border: none; 
                    svg {
                        rect {
                            color: $pw_pink; 
                        }
                    }
                    @media (max-width: 768px) {
                        display: block
                    }
                }
               
                justify-content: space-between;
                .nav-logo-mobile {
                    display: none; 
                    @media (max-width: 768px) {
                        display: block; 
                    }
                    img {
                            @media (max-width: 768px) {
                            display: block; 
                            height: 100px; 
                        }
                    }
                }

            }
            
        }
    }
}


// Mobile Nav Logic
#primary-menu-mobile {
  @media (max-width: 768px) {
    transition: all 0.3s ease-in-out;
    display: none;
    flex-direction: column;
    gap: 1rem; // optional spacing
    top: 100%; // just below nav
    left: 0;
    width: 100%;
    background: $pw_white;
    padding: 1rem;
    z-index: 1000;

    &.open {
      display: flex;
    }
  }
}